* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.container {
    height: 420px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B2434;
}

.sub-container {
    padding: 1.5rem;
    height: 360px;
    width: 360px;
    background-color: #F5F5F5;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headings > h1 {
    font-size: 2rem;
    text-align: center;
}
.headings > p {
    margin-top: 3px;
    font-size: 0.9rem;
    text-align: center;
}
.grids {
    height: 90px;
    width: 252px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 19px;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
}

.results {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.results > button{
    height: 40px;
    width: 130px;
    background-color: #5035FF;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0.4rem;
}

.roll-count {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    margin-left: 15px;
    background-color: #5035FF;
    color: white;
    font-weight: 700;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 0.4rem;
}